head {
 
}

/* title {
  
} */

body{
  background: #F5F5DF url("https://cdn.statically.io/img/i.pinimg.com/originals/92/b7/94/92b794765f888c69433d3672a7d0308d.png") repeat-x fixed 100% 50%;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  color: rgb(222, 223, 176)
}

h1 {
  margin: 40px 200px 50px 380px;
  width: 50%;
  border: 3px solid rgb(202, 205, 202);
  padding: 10px;
  box-shadow: 5px 5px 20px 5px #e7e13f;
  text-align: center;
  font-size: 40px;
  border-spacing: 15px 50px;
  border-collapse: separate;
  background-color: whitesmoke
}
.Cage{
  background: url("https://c.tenor.com/skuOGzv6T4wAAAAd/family-man-jack-campbell.gif"); 
  margin: 40px 50px 50px 650px;
  background-position: center;
  height: 200px;
  display: block;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(202, 205, 202);
  border-color: wheat ;
  box-shadow: 5px 5px 20px 5px #e7e13f;
}
main {
  
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 40%;
  border: 3px solid rgb(202, 205, 202);
  padding: 10px;
  box-shadow: 5px 5px 20px 5px #e7e13f;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuUNioeQgT1d2o3g9HrT5PKymbacDDaMzXjA&usqp=CAU");
  background-position: center;
  background-repeat: none;
}

h2 {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(202, 205, 202);
  padding: 10px;
  text-align: center;
  font-size: 30px;
  background-color: black
}

p {
  margin: auto;
  width: 80%;
  border: 3px solid rgb(202, 205, 202);
  padding: 10px;
  font-size: 15px;
  text-align: center;
  background-color: black
}

ul {
  text-align: center;
  
  
}

.education {
  list-style-type: upper-roman;
  margin: auto;
  width: 60%;
  height:50%;
  border: 3px solid rgb(202, 205, 202);
  padding: 40px;
  background-color: black
}

.education-details {
  list-style-type: circle ;
  padding: 20px;
}

.job {
  list-style-type: upper-roman;
  margin: auto;
  width: 80%;
  border: 3px solid rgb(202, 205, 202);
  padding: 40px;
  background-color: black
}
.job-details {
  list-style-type: circle;
  padding-left: 30px;
}

.anime {
  list-style-type: upper-roman;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid rgb(202, 205, 202);
  padding: 50px;
  background-color: black
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 50px 50px 495px;
  width: 39%;
  border: 3px solid rgb(202, 205, 202);
  padding: 20px;
  font-size: large;
  box-shadow: 5px 5px 20px 5px #e7e13f;
  background-color: rgb(85, 233, 238)
}